
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.contianer {
  height: 82vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

nav {
  height: 10vh;
  background-color: #2f6ea1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h4 {
  font-size: 25px;
  color: #d4d4d4;
}

footer {
  height: 8vh;
  background-color: #e5f5fc;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  background-color: rgba(255, 255, 255, 0.884);
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 50%;
  background-color: rgba(209, 209, 209, 0.409);
  animation: rotation 2s linear infinite;
}

.circle::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top, transparent, rgba(6, 8, 8, 0.724));
  background-size: 70px 85px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.circle::after {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: #403f3f;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  box-shadow: 0 0 10px #727272,
    0 0 20px #727272,
    0 0 30px #727272,
    0 0 40px #727272;
}

.circle span {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.loader h4 {
  letter-spacing: 2px;
  font-size: 23px;
  color: rgb(0, 0, 0);
  margin-top: 8px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.forbiddenWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forbiddenWrapper p {
  margin-bottom: 8px;
  font-size: 50px;
}

.forbiddenWrapper h1 {
  font-size: 33px;
  color: gray;
  margin-top: 5px;
}

.forbiddenWrapper h5 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 23px;
  color: gray;
}

.forbiddenWrapper button {
  cursor: pointer;
  padding: 2px 6px;
  font-size: 22px;
  margin-top: 10px;
  color: rgb(27, 159, 225);
  background-color: white;
  border: 2px solid rgb(27, 159, 225);
  transition: all .3s ease-in-out;
}

.forbiddenWrapper button i {
  font-size: 20px;
  margin-right: 8px;
}

.forbiddenWrapper button:hover {
  background: rgb(27, 159, 225);
  color: white;

}